[Unit]
Description=Shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/opt/shutdown-script
Type=oneshot

[Install]
WantedBy=shutdown.target

