[Unit]
Description=vim_poweroff
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/opt/poweroff-script

[Install]
WantedBy=final.target
